.formularioContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem auto;
    background-color: #f7f7f7;
    width: 46rem;
    gap: 50px;
    padding: 2rem 0;
    border-radius: 5px;
}

.formularioContainer button {
    font-weight: 600;
    background-color: #ff7b00;
    padding: .7rem;
    border-radius: 5px;
    text-decoration: none;
    margin: 0 0.5rem;
    border: none;
    transition: .5s;
    font-size: 1.1rem;
    color: white;
}
.formularioContainer button:hover {
    background-color: #df6c00;
    cursor: pointer;
}

.inputItem {
    display: flex;
    flex-direction: column;
}

.inputItem label {
    color: #df6c00;
    font-size: 1.1rem;
    font-weight: 600;
}

.inputItem input {
    height: 2.2rem;
    width: 39rem;
    outline: none;
    border: none;
    background-color: #b3b3b3;
    padding: 0 0.5rem;
    font-size: 1.2rem;
}